interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7n2fwfhctkfja2dwq2cmx8v/addresses/add_01h8w4y9qfknzaq05xsd8eptjj
  response:
    body:
      string: '{"data":{"id":"add_01h8w4y9qfknzaq05xsd8eptjj","customer_id":"ctm_01h7n2fwfhctkfja2dwq2cmx8v","status":"active","description":"Head
        Office Updated","first_line":"4050 Jefferson Plaza, 41st Floor","second_line":null,"city":"New
        York","postal_code":"10021","region":"NY","country_code":"US","created_at":"2023-08-27T18:43:46.031Z","updated_at":"2023-08-27T18:50:16.328439Z"},"meta":{"request_id":"f80b049f-27f1-4531-ac79-bad5ca448797"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
