interactions:
- request:
    body: '{"description": "Head Office", "first_line": "4050 Jefferson Plaza, 41st
      Floor", "city": "New York", "postal_code": "10021", "region": "NY", "country_code":
      "US"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7n2fwfhctkfja2dwq2cmx8v/addresses
  response:
    body:
      string: '{"data":{"id":"add_01h8w4y9qfknzaq05xsd8eptjj","status":"active","description":"Head
        Office","first_line":"4050 Jefferson Plaza, 41st Floor","second_line":null,"city":"New
        York","postal_code":"10021","region":"NY","country_code":"US","created_at":"2023-08-27T18:43:46.031Z","updated_at":"2023-08-27T18:43:46.031Z"},"meta":{"request_id":"ef6a7bc9-4087-428d-b2f6-aee5d55d84c6"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
