interactions:
- request:
    body: '{"items": [{"price_id": "pri_01h7mrnc315chey77qhrd32vfs", "quantity": 2}],
      "proration_billing_mode": "prorated_immediately"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: PATCH
    uri: https://sandbox-api.paddle.com/subscriptions/sub_01h7n3a88jwktex2tfjzahmn57/preview
  response:
    body:
      string: '{"data":{"status":"active","customer_id":"ctm_01h7mrr5j8rnawwzh9nschgp1v","address_id":"add_01h7mrzwtwthvqqy7vq90f0kd7","business_id":null,"currency_code":"USD","created_at":"2023-08-12T14:44:57.746086Z","updated_at":"2023-09-04T08:44:52.9Z","started_at":"2023-08-12T14:44:57.746081Z","first_billed_at":"2023-08-12T14:44:57.746081Z","next_billed_at":"2023-09-12T14:44:57.746081Z","paused_at":null,"canceled_at":null,"collection_mode":"manual","billing_details":{"enable_checkout":true,"purchase_order_number":"","additional_information":"","payment_terms":{"frequency":2,"interval":"week"}},"current_billing_period":{"starts_at":"2023-08-12T14:44:57.746081Z","ends_at":"2023-09-12T14:44:57.746081Z"},"billing_cycle":{"frequency":1,"interval":"month"},"recurring_transaction_details":{"tax_rates_used":[{"tax_rate":"0.27","totals":{"subtotal":"2000","discount":"0","tax":"540","total":"2540"}}],"totals":{"subtotal":"2000","tax":"540","discount":"0","total":"2540","fee":null,"credit":"0","balance":"2540","grand_total":"2540","earnings":null,"currency_code":"USD","exchange_rate":"1"},"line_items":[{"price_id":"pri_01h7mrnc315chey77qhrd32vfs","quantity":2,"totals":{"subtotal":"2000","tax":"540","discount":"0","total":"2540"},"product":{"id":"pro_01h7mrm9f0xvrvvwvkg1b7q8e3","name":"Sample
        new product","description":"","tax_category":"standard","image_url":"","status":"active"},"tax_rate":"0.27","unit_totals":{"subtotal":"1000","discount":"0","tax":"270","total":"1270"}}]},"next_transaction":{"billing_period":{"starts_at":"2023-09-12T14:44:57.746081Z","ends_at":"2023-10-12T14:44:57.746081Z"},"details":{"tax_rates_used":[{"tax_rate":"0.27","totals":{"subtotal":"2000","discount":"0","tax":"540","total":"2540"}}],"totals":{"subtotal":"2000","tax":"540","discount":"0","total":"2540","fee":null,"credit":"0","balance":"2540","grand_total":"2540","earnings":null,"currency_code":"USD","exchange_rate":"1"},"line_items":[{"price_id":"pri_01h7mrnc315chey77qhrd32vfs","quantity":2,"totals":{"subtotal":"2000","tax":"540","discount":"0","total":"2540"},"product":{"id":"pro_01h7mrm9f0xvrvvwvkg1b7q8e3","name":"Sample
        new product","description":"","tax_category":"standard","image_url":"","status":"active"},"tax_rate":"0.27","unit_totals":{"subtotal":"1000","discount":"0","tax":"270","total":"1270"}}]},"adjustments":[]},"immediate_transaction":{"billing_period":{"starts_at":"2023-09-04T08:44:53.197Z","ends_at":"2023-09-12T14:44:57.746081Z"},"details":{"tax_rates_used":[{"tax_rate":"0.27","totals":{"subtotal":"532","discount":"0","tax":"144","total":"676"}}],"totals":{"subtotal":"532","tax":"144","discount":"0","total":"676","fee":null,"credit":"338","balance":"338","grand_total":"338","earnings":null,"currency_code":"USD","exchange_rate":"1"},"line_items":[{"price_id":"pri_01h7mrnc315chey77qhrd32vfs","quantity":2,"totals":{"subtotal":"532","tax":"144","discount":"0","total":"676"},"product":{"id":"pro_01h7mrm9f0xvrvvwvkg1b7q8e3","name":"Sample
        new product","description":"","tax_category":"standard","image_url":"","status":"active"},"tax_rate":"0.27","unit_totals":{"subtotal":"266","discount":"0","tax":"72","total":"338"},"proration":{"rate":"0.26613","billing_period":{"starts_at":"2023-09-04T08:44:52.899Z","ends_at":"2023-09-12T14:44:57.746081Z"}}}]},"adjustments":[{"transaction_id":"txn_01h7n3a7g7h0qr49zt9ckgketd","items":[{"item_id":"txnitm_01h7n3a7jefxzqhpaw6hdc523q","type":"proration","amount":"338","proration":{"rate":"0.26613","billing_period":{"starts_at":"2023-09-04T08:44:52.898Z","ends_at":"2023-09-12T14:44:57.746081Z"}},"totals":{"subtotal":"266","tax":"72","total":"338"}}],"totals":{"subtotal":"266","tax":"72","total":"338","fee":"12","earnings":"254","currency_code":"USD"}}]},"scheduled_change":null,"items":[{"status":"active","quantity":2,"recurring":true,"created_at":"2023-08-12T14:44:57.746087Z","updated_at":"2023-09-04T08:44:52.886Z","previously_billed_at":"2023-08-12T14:44:57.746081Z","next_billed_at":"2023-09-12T14:44:57.746081Z","trial_dates":null,"price":{"id":"pri_01h7mrnc315chey77qhrd32vfs","product_id":"pro_01h7mrm9f0xvrvvwvkg1b7q8e3","description":"asd","tax_mode":"account_setting","billing_cycle":{"frequency":1,"interval":"month"},"trial_period":null,"unit_price":{"amount":"1270","currency_code":"USD"}}}],"custom_data":{"user_id":"123"},"management_urls":{"update_payment_method":null,"cancel":"https://sandbox-buyer-portal.paddle.com/subscriptions/sub_01h7n3a88jwktex2tfjzahmn57/cancel?token=pga_eyJhbGciOiJSUzI1NiIsImtpZCI6IjUwMWI4NGRhNWExYmIyODU2NDcyM2EzNDFkZGY5NTcyZDQwNDAwNDI4OTg3NzQyNjgzZWUyOWYyYTdmYjc0NDkiLCJ0eXAiOiJKV1QifQ.eyJpZCI6InBnYV8wMWg5Zm52ZjI5ZTJyNmY0bjM0cjgxMGZ6cSIsInNlbGxlci1pZCI6Ijg5MzkiLCJ0eXBlIjoic3RhbmRhcmQiLCJ2ZXJzaW9uIjoiMSIsInVzYWdlIjoibWFuYWdlbWVudF91cmwiLCJzY29wZSI6ImN1c3RvbWVyLnN1YnNjcmlwdGlvbi1wYXltZW50LnVwZGF0ZSBjdXN0b21lci5zdWJzY3JpcHRpb24tcGF5bWVudC5yZWFkIGN1c3RvbWVyLnN1YnNjcmlwdGlvbi1jYW5jZWwuY3JlYXRlIGN1c3RvbWVyLnN1YnNjcmlwdGlvbi5yZWFkIiwiaXNzIjoiZ3Vlc3RhY2Nlc3Mtc2VydmljZSIsInN1YiI6ImN0bV8wMWg3bXJyNWo4cm5hd3d6aDluc2NoZ3AxdiIsImlhdCI6MTY5MzgxNzA5MywiZXhwIjoxNzI1NDM5NDkzfQ.gPlOSJDNyaGlasaUL9XZddFRefttT5A1I4GCximQvHyCNbbu6AdjkDhKPtmsUd_CLdtkzz44399PwUxrLX2_JwF1aRMvrPQGbku_DpAAhfsruKagdL4zn33n9wLFj0Ie75We_hnp87pBB8NnfWxOKBb_cVOJSqbNVMrvmkqrS6XzsDN-ovdcb6vY54FrCbnuA1ItBgTk-Fw-OsX-hFJ2rCmSKyyHKClFUgvkMfbAL5_SsRcntY5gkSj-NN1ChmfiXsqZ6jZiun475tORQSc_bm9WU03ntjB8riXkVUs9R3VF1APZL8Y9OpldImXfnSq4MSKDabsqQ-sapptlM1Px1Q"},"discount":null,"update_summary":{"credit":{"amount":"338","currency_code":"USD"},"charge":{"amount":"676","currency_code":"USD"},"result":{"action":"charge","amount":"338","currency_code":"USD"}}},"meta":{"request_id":"a21f92c6-e1a7-49d2-b32f-9fc4d445b865"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
