interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/event-types
  response:
    body:
      string: '{"data":[{"name":"transaction.billed","description":"Occurs when a
        transaction is billed. Its status field changes to billed and billed_at is
        populated.","group":"Transaction","available_versions":[1]},{"name":"transaction.canceled","description":"Occurs
        when a transaction is canceled. Its status field changes to canceled.","group":"Transaction","available_versions":[1]},{"name":"transaction.completed","description":"Occurs
        when a transaction is completed. Its status field changes to completed.","group":"Transaction","available_versions":[1]},{"name":"transaction.created","description":"Occurs
        when a transaction is created.","group":"Transaction","available_version[...]
