interactions:
- request:
    body: '{"action": "refund", "type":"partial", "transaction_id": "txn_01h7n3a7g7h0qr49zt9ckgketd",
      "reason": "Test Adjustment Reason", "items": [{"item_id": "txnitm_01h7n3a7jefxzqhpaw6hdc523q",
      "type": "partial", "amount": "100"}]}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/adjustments
  response:
    body:
      string: '{"data":{"id":"adj_01h9fk7y5yj1m9bcn270a6rs81","action":"refund","type":"partial","transaction_id":"txn_01h7n3a7g7h0qr49zt9ckgketd","subscription_id":"sub_01h7n3a88jwktex2tfjzahmn57","customer_id":"ctm_01h7mrr5j8rnawwzh9nschgp1v","reason":"Test
        Adjustment Reason","currency_code":"USD","status":"pending_approval","items":[{"id":"adjitm_01h9fk7y5yj1m9bcn2726rdepp","item_id":"txnitm_01h7n3a7jefxzqhpaw6hdc523q","type":"partial","amount":"100","proration":null,"totals":{"subtotal":"79","tax":"21","total":"100"}}],"totals":{"subtotal":"79","tax":"21","total":"100","fee":"3","earnings":"76","currency_code":"USD"},"payout_totals":{"subtotal":"79","tax":"21","total":"100","fee":"3","earnings":"76","currency_code":"USD"},"created_at":"2023-09-04T07:59:16.172081Z","updated_at":"0001-01-01T00:00:00Z"},"meta":{"request_id":"d0e5be7c-46d9-4ffd-838e-bd4b6098ad99"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
version: 1
