interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/adjustments?status=approved
  response:
    body:
      string: '{"data":[],"meta":{"request_id":"beac4b6e-ca6c-4264-9268-9088d05ec5a6","pagination":{"per_page":10,"next":"https://sandbox-api.paddle.com/adjustments?status=approved","has_more":false,"estimated_total":3}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
