interactions:
- request:
    body: '{"description": "Test Notification Setting 2", "destination": "https://webhook.site/8b4f9b9f-1b0e-4b3c-8d7f-4d3f0e0a6b3b",
      "subscribed_events": ["transaction.billed", "transaction.canceled", "transaction.completed",
      "transaction.created", "transaction.payment_failed", "transaction.ready", "transaction.updated"],
      "type": "url", "active": false, "api_version": 1, "include_sensitive_fields":
      false}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: PATCH
    uri: https://sandbox-api.paddle.com/notification-settings/ntfset_01h9gb2gj5grek32ptb024ygke
  response:
    body:
      string: '{"data":{"id":"ntfset_01h9gb2gj5grek32ptb024ygke","description":"Test
        Notification Setting 2","type":"url","destination":"https://webhook.site/8b4f9b9f-1b0e-4b3c-8d7f-4d3f0e0a6b3b","active":false,"api_version":1,"include_sensitive_fields":false,"subscribed_events":[{"name":"transaction.billed","description":"Occurs
        when a transaction is billed. Its status field changes to billed and billed_at
        is populated.","group":"Transaction","available_versions":[1]},{"name":"transaction.canceled","description":"Occurs
        when a transaction is canceled. Its status field changes to canceled.","group":"Transaction","available_versions":[1]},{"name":"transaction.completed","description":"Occurs
        when a transaction is completed. Its status field changes to completed.","group":"Transaction","available_versions":[1]},{"name":"transaction.created","description":"Occurs
        when a transaction is created.","group":"Transaction","available_versions":[1]},{"name":"transaction.payment_failed","description":"Occurs
        when a payment fails for a transaction. The payments array is updated with
        details of the payment attempt.","group":"Transaction","available_versions":[1]},{"name":"transaction.ready","description":"Occurs
        when a transaction is ready to be billed. Its status field changes to ready.","group":"Transaction","available_versions":[1]},{"name":"transaction.updated","description":"Occurs
        when a transaction is updated.","group":"Transaction","available_versions":[1]}],"endpoint_secret_key":"pdl_ntfset_01h9gb2gj5grek32ptb024ygke_+ahXo6Zd7+PnDE/9f7BPSMOlqIY+9YRl"},"meta":{"request_id":"6592c87a-7e37-4764-96ad-e43c04be8f7c"}}'
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 6592c87a-7e37-4764-96ad-e43c04be8f7c
      X-Correlation-Id:
      - 6592c87a-7e37-4764-96ad-e43c04be8f7c
    status:
      code: 200
      message: OK
version: 1
