interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/notification-settings/ntfset_01h9gb2gj5grek32ptb024ygke
  response:
    body:
      string: '{"data":{"id":"ntfset_01h9gb2gj5grek32ptb024ygke","description":"Test
        Notification Setting","type":"url","destination":"https://webhook.site/8b4f9b9f-1b0e-4b3c-8d7f-4d3f0e0a6b3b","active":true,"api_version":1,"include_sensitive_fields":false,"subscribed_events":[{"name":"transaction.billed","description":"Occurs
        when a transaction is billed. Its status field changes to billed and billed_at
        is populated.","group":"Transaction","available_versions":[1]},{"name":"transaction.canceled","description":"Occurs
        when a transaction is canceled. Its status field changes to canceled.","group":"Transaction","available_versions":[1]},{"name":"transaction.completed","description":"Occurs
        when a transaction is completed. Its status field changes to completed.","group":"Transaction","available_versions":[1]},{"name":"transaction.created","description":"Occurs
        when a transaction is created.","group":"Transaction","available_version[...]
