interactions:
- request:
    body: '{"email": "asd123@asd.com", "name": "Test Customer 2"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: PATCH
    uri: https://sandbox-api.paddle.com/customers/ctm_01h8w66qa8djqjhmdkth2fnebk
  response:
    body:
      string: '{"data":{"id":"ctm_01h8w66qa8djqjhmdkth2fnebk","status":"active","name":"Test
        Customer 2","email":"asd123@asd.com","marketing_consent":false,"locale":"en","created_at":"2023-08-27T19:05:50.664Z","updated_at":"2023-08-27T19:12:16.802971Z"},"meta":{"request_id":"53538604-e97c-488f-8e8e-baa80c9dfc6d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
