interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/customers/ctm_01h8w66qa8djqjhmdkth2fnebk
  response:
    body:
      string: '{"data":{"id":"ctm_01h8w66qa8djqjhmdkth2fnebk","status":"active","name":"Test
        Customer 2","email":"asd123@asd.com","marketing_consent":false,"locale":"en","created_at":"2023-08-27T19:05:50.664Z","updated_at":"2023-08-27T19:12:16.802971Z"},"meta":{"request_id":"a7fb5f17-64cb-4539-b041-d067df13f791"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
