interactions:
- request:
    body: '{"email": "asd1234@asd.com", "name": "Test Customer"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/customers
  response:
    body:
      string: '{"data":{"id":"ctm_01h8w66qa8djqjhmdkth2fnebk","status":"active","name":"Test
        Customer","email":"asd1234@asd.com","marketing_consent":false,"locale":"en","created_at":"2023-08-27T19:05:50.664Z","updated_at":"2023-08-27T19:05:50.664Z"},"meta":{"request_id":"e29fd968-27c5-4362-8503-3b56664d8fbe"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
