interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/discounts?status=active
  response:
    body:
      string: '{"data":[{"id":"dsc_01h8xfbnfy4gtfd15fjgxfbrfs","status":"active","description":"Test
        Discount Updated","enabled_for_checkout":true,"code":"TESTDISCOUNT","type":"flat","amount":"800","currency_code":"USD","recur":true,"maximum_recurring_intervals":12,"usage_limit":100,"restrict_to":["pro_01h89b2j66qq82x6vn5d39c4av"],"expires_at":"2023-09-27T07:05:03.808311Z","times_used":0,"created_at":"2023-08-28T07:05:04.254Z","updated_at":"2023-08-28T07:09:23.763Z"}],"meta":{"request_id":"7b919b8c-2bf8-48aa-8e7a-8107146ed7c2","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/discounts?after=dsc_01h8xfbnfy4gtfd15fjgxfbrfs\u0026status=active","has_more":false,"estimated_total":1}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
