interactions:
- request:
    body: '{"amount": "1000", "description": "Test Discount", "type": "flat", "enabled_for_checkout":
      true, "code": "TESTDISCOUNT", "currency_code": "USD", "recur": true, "maximum_recurring_intervals":
      12, "usage_limit": 100, "restrict_to": ["pro_01h89b2j66qq82x6vn5d39c4av"], "expires_at":
      "2023-09-27T07:05:03.808311Z"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/discounts
  response:
    body:
      string: '{"data":{"id":"dsc_01h8xfbnfy4gtfd15fjgxfbrfs","status":"active","description":"Test
        Discount","enabled_for_checkout":true,"code":"TESTDISCOUNT","type":"flat","amount":"1000","currency_code":"USD","recur":true,"maximum_recurring_intervals":12,"usage_limit":100,"restrict_to":["pro_01h89b2j66qq82x6vn5d39c4av"],"expires_at":"2023-09-27T07:05:03.808311Z","times_used":0,"created_at":"2023-08-28T07:05:04.254Z","updated_at":"2023-08-28T07:05:04.254Z"},"meta":{"request_id":"cacccc0e-f2bc-4f9a-8c27-45a067e7e13c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
