interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/events
  response:
    body:
      string: '{"data":[{"event_id":"evt_01h9g0mtq3fkpsb6cdftgb0an0","event_type":"subscription.updated","occurred_at":"2023-09-04T11:53:30.083681Z","data":{"id":"sub_01h9fja8n8w8f9he3gbgy518mt","status":"active","customer_id":"ctm_01h8w66qa8djqjhmdkth2fnebk","address_id":"add_01h9fj8v8ej6cqs7v9jrabrjp5","business_id":"biz_01h8xg9dgqkehwp72x067vems9","currency_code":"USD","created_at":"2023-09-04T07:43:03.848Z","updated_at":"2023-09-04T11:53:28.992Z","started_at":"2023-09-04T07:43:03.848Z","first_billed_at":"2023-09-04T07:43:03.848Z","next_billed_at":null,"paused_at":null,"canceled_at":null,"discount":null,"collection_mode":"manual","billing_details":{"payment_terms":{"interval":"week","frequency":2},"enable_checkout":true,"purchase_order_number":null,"additional_information":null},"current_billing_period":{"ends_at":"2023-10-04T07:43:03.848Z","starts_at":"2023-09-04T07:43:03.848Z"},"billing_cycle":{"interval":"month","frequency":1},"scheduled_change":{"action":"cancel","resume_at":null,"effective_at":"2023-10-04T07:43:03.848Z"},"items":[{"price":{"id":"pri_01h81k4xtxq5atfyjdfadsavd8","tax_mode":"account_setting","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","unit_price":{"amount":"1525","currency_code":"USD"},"description":"Test
        Price Description 2","trial_period":null,"billing_cycle":{"interval":"month","frequency":1}},"status":"active","quantity":1,"recurring":true,"created_at":"2023-09-04T07:43:03.848Z","updated_at":"2023-09-04T07:43:03.848Z","trial_dates":null,"next_billed_at":null,"previously_billed_at":"2023-09-04T07:43:03.848Z"}],"custom_data":null}},{"event_id":"evt_01h9fy6js58ny2hg9e5ee0m7td","event_type":"subscription.updated","occurred_at":"2023-09-04T11:10:46.053471Z","data":{"id":"sub_01h9fs0mgwkhtdan4qd4r7qq77","status":"active","customer_id":"ctm_01h9fryr8y9k8r4k0fjgkhem6p","address_id":"add_01h9fryr9ftp2er4g1sxjhqg8w","business_id":null,"currency_code":"USD","created_at":"2023-09-04T09:40:08.348Z","updated_at":"2023-09-04T11:10:45.159Z","started_at":"2023-09-04T09:40:06.415402Z","first_billed_at":"2023-09-04T09:40:06.415402Z"[...]
