interactions:
- request:
    body: '{"name": "Test Business 2", "company_number": "123456789", "tax_identifier":
      "123456789", "contacts": [{"name": "Test Contact", "email": "asd@asd.com"}]}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: PATCH
    uri: https://sandbox-api.paddle.com/customers/ctm_01h8w66qa8djqjhmdkth2fnebk/businesses/biz_01h8xg9dgqkehwp72x067vems9
  response:
    body:
      string: '{"data":{"id":"biz_01h8xg9dgqkehwp72x067vems9","status":"active","name":"Test
        Business 2","company_number":"123456789","tax_identifier":"123456789","contacts":[{"name":"Test
        Contact","email":"asd@asd.com"}],"created_at":"2023-08-28T07:21:19.127Z","updated_at":"2023-08-28T07:26:54.983533Z"},"meta":{"request_id":"7cdb6f2f-192f-42e2-ba43-89abdb8ecc9d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
