interactions:
- request:
    body: '{"items": [{"price_id": "pri_01h8xce4x86pq3byesf71a7kw1", "quantity": 2},
      {"price_id": "pri_01h81k4cdv2rygh4gccf864cy9", "quantity": 2}], "customer_id":
      "ctm_01h7n2fwfhctkfja2dwq2cmx8v", "business_id": "biz_01h9e61yyv66813j7x1v4d2hgt",
      "currency_code": "USD"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/pricing-preview
  response:
    body:
      string: '{"data":{"customer_id":"ctm_01h7n2fwfhctkfja2dwq2cmx8v","address_id":null,"business_id":"biz_01h9e61yyv66813j7x1v4d2hgt","currency_code":"USD","address":null,"customer_ip_address":null,"discount_id":null,"details":{"line_items":[{"price":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","description":"Test
        Price Updated","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2,"tax_rate":"0","unit_totals":{"subtotal":"1200","discount":"0","tax":"0","total":"1200"},"formatted_unit_totals":{"subtotal":"$12.00","discount":"$0.00","tax":"$0.00","total":"$12.00"},"totals":{"subtotal":"2400","discount":"0","tax":"0","total":"2400"},"formatted_totals":{"subtotal":"$24.00","discount":"$0.00","tax":"$0.00","total":"$24.00"},"product":{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test
        Product New 2","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"discounts":[]},{"price":{"id":"pri_01h81k4cdv2rygh4gccf864cy9","description":"Test
        Price Description","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2,"tax_rate":"0","unit_totals":{"subtotal":"1200","discount":"0","tax":"0","total":"1200"},"formatted_unit_totals":{"subtotal":"$12.00","discount":"$0.00","tax":"$0.00","total":"$12.00"},"totals":{"subtotal":"2400","discount":"0","tax":"0","total":"2400"},"formatted_totals":{"subtotal":"$24.00","discount":"$0.00","tax":"$0.00","total":"$24.00"},"product":{"id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","name":"Test
        Product New","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"discounts":[]}]}},"meta":{"request_id":"aadb26eb-0e84-4dee-964e-e936fe93beee"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
