interactions:
- request:
    body: '{"items": [{"price_id": "pri_01h8xce4x86pq3byesf71a7kw1", "quantity": 2},
      {"price_id": "pri_01h81k4cdv2rygh4gccf864cy9", "quantity": 2}], "currency_code":
      "USD", "address": {"postal_code": "1035", "country_code": "HU"}}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/pricing-preview
  response:
    body:
      string: '{"data":{"customer_id":null,"address_id":null,"business_id":null,"currency_code":"USD","address":{"postal_code":"1035","country_code":"HU"},"customer_ip_address":null,"discount_id":null,"details":{"line_items":[{"price":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","description":"Test
        Price Updated","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2,"tax_rate":"0.27","unit_totals":{"subtotal":"1200","discount":"0","tax":"324","total":"1524"},"formatted_unit_totals":{"subtotal":"$12.00","discount":"$0.00","tax":"$3.24","total":"$15.24"},"totals":{"subtotal":"2400","discount":"0","tax":"648","total":"3048"},"formatted_totals":{"subtotal":"$24.00","discount":"$0.00","tax":"$6.48","total":"$30.48"},"product":{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test
        Product New 2","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"discounts":[]},{"price":{"id":"pri_01h81k4cdv2rygh4gccf864cy9","description":"Test
        Price Description","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2,"tax_rate":"0.27","unit_totals":{"subtotal":"1200","discount":"0","tax":"324","total":"1524"},"formatted_unit_totals":{"subtotal":"$12.00","discount":"$0.00","tax":"$3.24","total":"$15.24"},"totals":{"subtotal":"2400","discount":"0","tax":"648","total":"3048"},"formatted_totals":{"subtotal":"$24.00","discount":"$0.00","tax":"$6.48","total":"$30.48"},"product":{"id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","name":"Test
        Product New","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"discounts":[]}]}},"meta":{"request_id":"c0dba93e-6c23-469d-9de8-6bda09dfdd09"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
