interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/notifications/ntf_01h9g0mtsp2mae24351z8nfsg1/replay
  response:
    body:
      string: '{"data":{"notification_id":"ntf_01h9gekx4926y70b8n799p93e9"},"meta":{"request_id":"441af6da-9e20-413e-90e6-5e043a8f8caf"}}'
    headers:
      Content-Type:
      - application/json
      Correlation-Id:
      - 441af6da-9e20-413e-90e6-5e043a8f8caf
      X-Correlation-Id:
      - 441af6da-9e20-413e-90e6-5e043a8f8caf
    status:
      code: 202
      message: Accepted
version: 1
