interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/notifications
  response:
    body:
      string: '{"data":[{"id":"ntf_01h9g0mtsp2mae24351z8nfsg1","type":"subscription.updated","status":"delivered","payload":{"data":{"id":"sub_01h9fja8n8w8f9he3gbgy518mt","items":[{"price":{"id":"pri_01h81k4xtxq5atfyjdfadsavd8","tax_mode":"account_setting","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","unit_price":{"amount":"1525","currency_code":"USD"},"description":"Test
        Price Description 2","trial_period":null,"billing_cycle":{"interval":"month","frequency":1}},"status":"active","quantity":1,"recurring":true,"created_at":"2023-09-04T07:43:03.848Z","updated_at":"2023-09-04T07:43:03.848Z","trial_dates":null,"next_billed_at":null,"previously_billed_at":"2023-09-04T07:43:03.848Z"}],"status":"active","discount":null,"paused_at":null,"address_id":"add_01h9fj8v8ej6cqs7v9jrabrjp5","created_at":"2023-09-04T07:43:03.848Z","started_at":"2023-09-04T07:43:03.848Z","updated_at":"2023-09-04T11:53:28.992Z","business_id":"biz_01h8xg9dgqkehwp72x067vems9","canceled_at":null,"custom_data":null,"customer_id":"ctm_01h8w66qa8djqjhmdkth2fnebk","billing_cycle":{"interval":"month","frequency":1},"currency_code":"USD","next_billed_at":null,"billing_details":{"payment_terms":{"interval":"week","frequency":2},"enable_checkout":true,"purchase_order_number":null,"additional_information":null},"collection_mode":"manual","first_billed_at":"2023-09-04T07:43:03.848Z","scheduled_change":{"action":"cancel","resume_at":null,"effective_at":"2023-10-04T07:43:03.848Z"},"current_billing_period":{"ends_at":"2023-10-04T07:43:03.848Z","starts_at":"2023-09-04T07:43:03.848Z"}},"event_id":"evt_01h9g0mtq3fkpsb6cdftgb0an0","event_type":"subscription.updated","occurred_at":"2023-09-04T11:53:30.083681Z","notification_id":"ntf_01h9g0mtsp2mae24351z8nfsg1"},"occurred_at":"2023-09-04T11:53:30.083681Z","delivered_at":"2023-09-04T11:53:30.467385Z","replayed_at":null,"origin":"event","last_attempt_at":"2023-09-04T11:53:30.205837Z","retry_at":null,"times_attempted":1,"notification_setting_id":"ntfset_01h7mt960x2r58dp0wrevgzk41"},{"id":"ntf_01h9fy6jw3dnqwzhsdwd1t3p4q","type":"subscription.updated","status":"delivered","payload":{"data":{"id":"sub_01h9fs0mgwkhtdan4qd4r7qq77","items":[{"price":{"id":"pri_01h7mrnc315chey77qhrd32vfs","tax_mode":"account_setting","product_id":"pro_01h7mrm9f0xvrvvwvkg1b7q8e3","unit_price":{"amount":"1270","currency_code":"USD"},"description":"asd","trial_period":null,"billing_cycle":{"interval":"month","frequency":1}},"status":"active","quantity":1,"recurri[...]
