interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/prices/pri_01h8xce4x86pq3byesf71a7kw1
  response:
    body:
      string: '{"data":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","description":"Test
        Price Updated","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100}},"meta":{"request_id":"2f32b40b-c38c-49c5-9dfe-4e779a66208c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
