interactions:
- request:
    body: '{"description": "Test Price", "product_id": "pro_01h89b2j66qq82x6vn5d39c4av",
      "billing_cycle": {"interval": "month", "frequency": 1}, "tax_mode": "account_setting",
      "unit_price": {"amount": "1000", "currency_code": "USD"}}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/prices
  response:
    body:
      string: '{"data":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","description":"Test
        Price","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"USD"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100}},"meta":{"request_id":"d6fc2607-992b-480a-b2b1-f41f296cacc5"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
