interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/transactions/txn_01h93v9qra13qbnagfqqddbrqd?include=address%2Cbusiness%2Ccustomer%2Cdiscount%2Cseller%2Cadjustment%2Cadjustments_totals
  response:
    body:
      string: '{"data":{"id":"txn_01h93v9qra13qbnagfqqddbrqd","status":"draft","customer_id":"ctm_01h7n2fwfhctkfja2dwq2cmx8v","address_id":null,"business_id":null,"custom_data":{"foo":"bar"},"origin":"api","collection_mode":"automatic","subscription_id":null,"invoice_id":null,"invoice_number":null,"billing_details":null,"billing_period":null,"currency_code":"USD","discount_id":null,"created_at":"2023-08-30T18:29:10.576558Z","updated_at":"2023-08-30T19:23:48.077844Z","billed_at":null,"items":[{"price":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","description":"Test
        Price Updated","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2},{"price":{"id":"pri_01h81k4cdv2rygh4gccf864cy9","description":"Test
        Price Description","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2}],"details":{"tax_rates_used":[{"tax_rate":"0","totals":{"subtotal":"4800","discount":"0","tax":"0","total":"4800"}}],"totals":{"subtotal":"4800","tax":"0","discount":"0","total":"4800","grand_total":"4800","fee":null,"credit":"0","balance":"4800","earnings":null,"currency_code":"USD"},"adjusted_totals":{"subtotal":"4800","tax":"0","total":"4800","grand_total":"4800","fee":"0","earnings":"0","currency_code":"USD"},"payout_totals":null,"adjusted_payout_totals":null,"line_items":[{"id":"txnitm_01h93ydrf57ybq9sh9rj07d6z9","price_id":"pri_01h8xce4x86pq3byesf71a7kw1","quantity":2,"totals":{"subtotal":"2400","tax":"0","discount":"0","total":"2400"},"product":{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test
        Product New 2","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"tax_rate":"0","unit_totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"}},{"id":"txnitm_01h93ydrf57ybq9sh9rmfhhx21","price_id":"pri_01h81k4cdv2rygh4gccf864cy9","quantity":2,"totals":{"subtotal":"2400","tax":"0","discount":"0","total":"2400"},"product":{"id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","name":"Test
        Product New","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"tax_rate":"0","unit_totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"}}]},"payments":[],"checkout":{"url":"https://webstormit.com?_ptxn=txn_01h93v9qra13qbnagfqqddbrqd"},"customer":{"id":"ctm_01h7n2fwfhctkfja2dwq2cmx8v","name":"","email":"asd2@asd.com","locale":"en","marketing_consent":false,"status":"active","suitable_for":["automatic"],"is_sanctioned":false,"tax_exemptions":[]},"seller":{"id":8939,"legal_name":"Webstormit","display_name":"","active":true,"created_at":"2022-11-05T15:36:49Z","updated_at":"2022-11-05T16:02:10Z","enabled_currencies":null,"payout_country":"HU","primary_currency":"USD"},"adjustments_totals":{"subtotal":"0","tax":"0","total":"0","fee":"0","earnings":"0","breakdown":{"credit":"0","refund":"0","chargeback":"0"},"currency_code":"USD"}},"meta":{"request_id":"1cba911f-4b5b-42d3-9da7-1686f1d62ca0"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
