interactions:
- request:
    body: '{"items": [{"price_id": "pri_01h8xce4x86pq3byesf71a7kw1", "quantity": 1},
      {"price_id": "pri_01h81k4cdv2rygh4gccf864cy9", "quantity": 1}], "customer_id":
      "ctm_01h7n2fwfhctkfja2dwq2cmx8v", "currency_code": "USD"}'
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: POST
    uri: https://sandbox-api.paddle.com/transactions/preview?include=address%2Cbusiness%2Ccustomer%2Cdiscount%2Cseller%2Cadjustment%2Cadjustments_totals
  response:
    body:
      string: '{"data":{"customer_id":"ctm_01h7n2fwfhctkfja2dwq2cmx8v","address_id":null,"business_id":null,"currency_code":"USD","address":null,"customer_ip_address":null,"discount_id":null,"items":[{"price":{"id":"pri_01h8xce4x86pq3byesf71a7kw1","description":"Test
        Price Updated","product_id":"pro_01h89b2j66qq82x6vn5d39c4av","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":1,"proration":null,"include_in_totals":true},{"price":{"id":"pri_01h81k4cdv2rygh4gccf864cy9","description":"Test
        Price Description","product_id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1200","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":1,"proration":null,"include_in_totals":true}],"details":{"tax_rates_used":[{"tax_rate":"0","totals":{"subtotal":"2400","discount":"0","tax":"0","total":"2400"}}],"totals":{"subtotal":"2400","tax":"0","discount":"0","total":"2400","grand_total":"2400","fee":null,"credit":"0","balance":"2400","earnings":null,"currency_code":"USD"},"line_items":[{"price_id":"pri_01h8xce4x86pq3byesf71a7kw1","quantity":1,"totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"},"product":{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test
        Product New 2","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"tax_rate":"0","unit_totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"}},{"price_id":"pri_01h81k4cdv2rygh4gccf864cy9","quantity":1,"totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"},"product":{"id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","name":"Test
        Product New","description":"Test Product Description","tax_category":"standard","image_url":"https://example.com/image.png","status":"active"},"tax_rate":"0","unit_totals":{"subtotal":"1200","tax":"0","discount":"0","total":"1200"}}]},"ignore_trials":false},"meta":{"request_id":"165d958f-260c-494c-b70e-670eba1e2661"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
