interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/products/pro_01h89b2j66qq82x6vn5d39c4av
  response:
    body:
      string: '{"data":{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test Product
        New 2","tax_category":"standard","description":"Test Product Description","image_url":"https://example.com/image.png","custom_data":{"foo":"bar2"},"status":"active","created_at":"2023-08-20T11:25:23.014Z"},"meta":{"request_id":"f3d5a132-493b-4111-9143-d600869121e7"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
