interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 559a1eb08e249528c6d897ef407aedbb13fd8d73e0234bafc1
      Content-type:
      - application/json
    method: GET
    uri: https://sandbox-api.paddle.com/products
  response:
    body:
      string: '{"data":[{"id":"pro_01h89b2j66qq82x6vn5d39c4av","name":"Test Product
        New 2","tax_category":"standard","description":"Test Product Description","image_url":"https://example.com/image.png","custom_data":{"foo":"bar2"},"status":"active","created_at":"2023-08-20T11:25:23.014Z"},{"id":"pro_01h81jnhdrz5wfde6cn8wg9y1y","name":"Test
        Product New","tax_category":"standard","description":"Test Product Description","image_url":"https://example.com/image.png","custom_data":{"foo":"bar"},"status":"active","created_at":"2023-08-17T11:04:09.4Z"}],"meta":{"request_id":"7c4b0302-a257-4609-b250-e6ba55c815e5","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/products?after=pro_01h7mrm9f0xvrvvwvkg1b7q8e3","has_more":false,"estimated_total":7}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
