name: Paddle API Doc Update stalker

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *' # once per day at 1am

permissions:
  contents: write

jobs:
  website-stalker:
    runs-on: ubuntu-latest
    env:
      WEBSITE_STALKER_FROM: ${{ secrets.WEBSITE_STALKER_FROM }}
    steps:
      - uses: EdJoPaTo/website-stalker-github-action@v1

      - uses: actions/checkout@v6

      - name: Run website-stalker
        id: website-stalker
        working-directory: sites
        run: website-stalker run --all

      - name: Create Pull Request
        if: success() || steps.website-stalker.outcome == 'failure'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT }}
          branch: paddle-website-stalker
          commit-message: Update API Reference
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: 'Update API Reference'
          assignees: bgervan
          draft: false
